# House Prices


### Attributes

- **regio1**: 
- **serviceCharge**:
- **heatingType**:
- **telekomTvOffer**:
- **telekomHybridUploadSpeed**:
- **newlyConst**:
- **balcony**:
- **picturecount**:
- **pricetrend**:
- **telekomUploadSpeed**:
- **totalRent**:
- **yearConstructed**:
- **scoutId**:
- **noParkSpaces**:
- **firingTypes**:
- **hasKitchen**:
- **geo_bln**:
- **cellar**:
- **yearConstructedRange**:
- **baseRent**:
- **houseNumber**:
- **livingSpace**:
- **geo_krs**:
- **condition**:
- **interiorQual**:
- **petsAllowed**:
- **street**:
- **streetPlain**:
- **lift**:
- **baseRentRange**:
- **typeOfFlat**:
- **noRooms**:
- **thermalChar**:
- **floor**:
- **numberOfFloors**:
- **noRoomsRange**:
- **garden**:
- **livingSpaceRange**:
- **regio2**:
- **regio3**:
- **description**:
- **facilities**:
- **heatingCosts**:
- **energyEfficiencyClass**:
- **lastRefurbish**:
- **electricityBasePrice**:
- **electricityKwhPrice**:
- **date**:

In [23]:
import pandas as pd
import numpy as np
import geopandas as gpd

import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import re

In [2]:
sys.path.insert(0, os.path.abspath("../src"))
import cleaning as clean

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
data = pd.read_csv("../data/immo_data.csv")
data.columns = clean.normalize_column_names(data.columns)

In [5]:
data.head()

,regio1,service_charge,heating_type,telekom_tv_offer,telekom_hybrid_upload_speed,newly_const,balcony,picturecount,pricetrend,telekom_upload_speed,total_rent,year_constructed,scout_id,no_park_spaces,firing_types,has_kitchen,geo_bln,cellar,year_constructed_range,base_rent,house_number,living_space,geo_krs,condition,interior_qual,pets_allowed,street,street_plain,lift,base_rent_range,type_of_flat,geo_plz,no_rooms,thermal_char,floor,number_of_floors,no_rooms_range,garden,living_space_range,regio2,regio3,description,facilities,heating_costs,energy_efficiency_class,last_refurbish,electricity_base_price,electricity_kwh_price,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.00,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.00,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,1300.0,2019.0,113147523,1.0,NaN,False,Sachsen,True,9.0,965.0,4,83.80,Dresden,first_time_use,sophisticated,NaN,Turnerweg,Turnerweg,True,6,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,NaN,1964.0,108890903,NaN,district_heating,False,Sachsen,False,2.0,343.0,35,58.15,Mittelsachsen_Kreis,NaN,NaN,NaN,Gl&uuml;ck-Auf-Stra&szlig;e,Glück-Auf-Straße,False,2,other,9599,3.0,86.0,3.0,NaN,3,False,2,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,903.0,1950.0,114751222,NaN,gas,False,Bremen,False,1.0,765.0,10,84.97,Bremen,refurbished,NaN,NaN,Hermann-Henrich-Meier-Allee,Hermann-Henrich-Meier-Allee,False,5,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [6]:
clean.get_nan_values(data)

                               Nans Percent
Name
telekom_hybrid_upload_speed  223830   83.3%
electricity_kwh_price        222004   82.6%
electricity_base_price       222004   82.6%
energy_efficiency_class      191063   71.1%
last_refurbish               188139   70.0%
heating_costs                183332   68.2%
no_park_spaces               175798   65.4%
pets_allowed                 114573   42.6%
interior_qual                112665   41.9%
thermal_char                 106506   39.6%
number_of_floors              97732   36.4%
house_number                  71018   26.4%
street_plain                  71013   26.4%
condition                     68489   25.5%
year_constructed_range        57045   21.2%
year_constructed              57045   21.2%
firing_types                  56964   21.2%
facilities                    52924   19.7%
floor                         51309   19.1%
heating_type                  44856   16.7%
total_rent                    40517   15.1%
type_of_flat                  36614   13.6%
telekom_upload_speed          33358   12.4%
telekom_tv_offer              32619   12.1%
description                   19747    7.3%
service_charge                 6909    2.6%
pricetrend                     1832    0.7%

### Unused columns
<br>

The following columns are not used and will be deleted:
- **telekom_hybrid_upload_speed** (> 80% Nans)
- **electricity_kwh_price** (> 80% Nans)
- **electricity_base_price** (> 80% Nans)
- **description** (too much text)
- **firing_types** (too many missing/unique values, redunant information)
- **facilities** (too much text)

In [7]:
data = data.drop(['telekom_hybrid_upload_speed', 'electricity_kwh_price',
                  'electricity_base_price'], axis=1)

<br>

### Dealing with Nan values

#### energy_efficiency_class
Missing energy classes are filled with 'NO_INFORMATION'.

In [8]:
data['energy_efficiency_class'] = data['energy_efficiency_class'].fillna('NO_INFORMATION', inplace=True)

#### last_refurbish
If a house/flat hasn't been refurbished, the year is set to -1.

In [9]:
data['last_refurbish'] = data['last_refurbish'].fillna(-1).astype(np.int64)

#### heating_costs
If no heating costs are provided we'll replace it with -1.

In [10]:
data['heating_costs'] = data['heating_costs'].fillna(-1)

#### no_park_spaces
Missing values will be handled as there were no parking spaces.

In [11]:
data['no_park_spaces'] = data['no_park_spaces'].fillna(0).astype(np.int64)

#### pets_allowed
Change Nan values to 'unknown' here.

In [12]:
data['pets_allowed'] = data['pets_allowed'].fillna('unknown')

#### interior_qual
Fill Nan values with 'unknown'.

In [13]:
data['interior_qual'] = data['interior_qual'].fillna('unknown')

#### condition
Fill with 'unknown'

In [14]:
data['condition'] = data['condition'].fillna('unknown')

#### year_constructed
Fill with -1

In [15]:
data['year_constructed'] = data['year_constructed'].fillna(-1).astype(np.int64)

#### heating_type
Fill with 'unknown'

In [16]:
data['heating_type'] = data['heating_type'].fillna('unknown')

#### type_of_flat
Fill with 'other'

In [17]:
data['type_of_flat'] = data['type_of_flat'].fillna('other')

#### telekom_tv_offer
Fill with 'UNKNOWN'

In [18]:
data['telekom_tv_offer'] = data['telekom_tv_offer'].fillna('UNKNOWN')

#### service_charge
Fill with -1

In [19]:
data['service_charge'] = data['service_charge'].fillna(-1)

#### pricetrend
Fill with 0

In [20]:
data['pricetrend'] = data['pricetrend'].fillna(0)

#### house_number
We only consider numbers here without any additional charakters. All nan values or values not containing a housenumber will be replaced with a blank string. So this column has dtype=object.

In [21]:
def clean_house_number(x):
    if pd.isnull(x):
        return ""
    l = re.findall('\d{1,4}', x)
    return str(int(l[0])) if l else ''

In [24]:
data['house_number'] = data['house_number'].apply(clean_house_number)

In [25]:
clean.get_nan_values(data)

                           Nans Percent
Name
energy_efficiency_class  268850  100.0%
thermal_char             106506   39.6%
number_of_floors          97732   36.4%
street_plain              71013   26.4%
year_constructed_range    57045   21.2%
firing_types              56964   21.2%
facilities                52924   19.7%
floor                     51309   19.1%
total_rent                40517   15.1%
telekom_upload_speed      33358   12.4%
description               19747    7.3%

# TODO

In [ ]:
data['number_of_floors'].unique()

In [ ]:
data['street_plain'].unique()

In [ ]:
data['year_constructed_range'].unique()