# House Prices


### Attributes

- **regio1**: 
- **serviceCharge**:
- **heatingType**:
- **telekomTvOffer**:
- **telekomHybridUploadSpeed**:
- **newlyConst**:
- **balcony**:
- **picturecount**:
- **pricetrend**:
- **telekomUploadSpeed**:
- **totalRent**:
- **yearConstructed**:
- **scoutId**:
- **noParkSpaces**:
- **firingTypes**:
- **hasKitchen**:
- **geo_bln**:
- **cellar**:
- **yearConstructedRange**:
- **baseRent**:
- **houseNumber**:
- **livingSpace**:
- **geo_krs**:
- **condition**:
- **interiorQual**:
- **petsAllowed**:
- **street**:
- **streetPlain**:
- **lift**:
- **baseRentRange**:
- **typeOfFlat**:
- **noRooms**:
- **thermalChar**:
- **floor**:
- **numberOfFloors**:
- **noRoomsRange**:
- **garden**:
- **livingSpaceRange**:
- **regio2**:
- **regio3**:
- **description**:
- **facilities**:
- **heatingCosts**:
- **energyEfficiencyClass**:
- **lastRefurbish**:
- **electricityBasePrice**:
- **electricityKwhPrice**:
- **date**:

# TODO
service_charge = total_rent - base_rent

In [1]:
import os
import sys
import re
import yaml

import pandas as pd
import geopandas as gpd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sys.path.insert(0, os.path.abspath("../src"))
import cleaning as clean

In [3]:
with open('../params.yaml') as file:
    config = yaml.safe_load(file)

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
data = pd.read_csv(config['data']['csv_raw'])
data.columns = clean.normalize_column_names(data.columns)
data.head(3)

,regio1,service_charge,heating_type,telekom_tv_offer,telekom_hybrid_upload_speed,newly_const,balcony,picturecount,pricetrend,telekom_upload_speed,total_rent,year_constructed,scout_id,no_park_spaces,firing_types,has_kitchen,geo_bln,cellar,year_constructed_range,base_rent,house_number,living_space,geo_krs,condition,interior_qual,pets_allowed,street,street_plain,lift,base_rent_range,type_of_flat,geo_plz,no_rooms,thermal_char,floor,number_of_floors,no_rooms_range,garden,living_space_range,regio2,regio3,description,facilities,heating_costs,energy_efficiency_class,last_refurbish,electricity_base_price,electricity_kwh_price,date
0,Nordrhein_Westfalen,245.0,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.0,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.0,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.0,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.0,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,1300.0,2019.0,113147523,1.0,NaN,False,Sachsen,True,9.0,965.0,4,83.8,Dresden,first_time_use,sophisticated,NaN,Turnerweg,Turnerweg,True,6,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19

In [6]:
clean.get_nan_values(data)

                               Nans Percent
Name
telekom_hybrid_upload_speed  223830   83.3%
electricity_kwh_price        222004   82.6%
electricity_base_price       222004   82.6%
energy_efficiency_class      191063   71.1%
last_refurbish               188139   70.0%
heating_costs                183332   68.2%
no_park_spaces               175798   65.4%
pets_allowed                 114573   42.6%
interior_qual                112665   41.9%
thermal_char                 106506   39.6%
number_of_floors              97732   36.4%
house_number                  71018   26.4%
street_plain                  71013   26.4%
condition                     68489   25.5%
year_constructed_range        57045   21.2%
year_constructed              57045   21.2%
firing_types                  56964   21.2%
facilities                    52924   19.7%
floor                         51309   19.1%
heating_type                  44856   16.7%
total_rent                    40517   15.1%
type_of_flat                  36614   13.6%
telekom_upload_speed          33358   12.4%
telekom_tv_offer              32619   12.1%
description                   19747    7.3%
service_charge                 6909    2.6%
pricetrend                     1832    0.7%

<br>

### Dealing with Nan values

#### energy_efficiency_class
Missing energy classes are filled with 'NO_INFORMATION'.

In [7]:
data['energy_efficiency_class'] = data['energy_efficiency_class'].fillna('unknown')

#### last_refurbish
If a house/flat hasn't been refurbished, the year is set to -1.

In [8]:
data['last_refurbish'] = data['last_refurbish'].fillna(-1).astype(np.int64)

#### heating_costs
If no heating costs are provided we'll replace it with -1.

In [9]:
data['heating_costs'] = data['heating_costs'].fillna(-1)

#### no_park_spaces
Missing values will be set to -1.

In [10]:
data['no_park_spaces'] = data['no_park_spaces'].fillna(-1).astype(np.int64)

#### pets_allowed
Change Nan values to 'unknown' here.

In [11]:
data['pets_allowed'] = data['pets_allowed'].fillna('unknown')

#### interior_qual
Fill Nan values with 'unknown'.

In [12]:
data['interior_qual'] = data['interior_qual'].fillna('unknown')

#### condition
Fill with 'unknown'

In [13]:
data['condition'] = data['condition'].fillna('unknown')

#### year_constructed
Fill with -1

In [14]:
data['year_constructed'] = data['year_constructed'].fillna(-1).astype(np.int64)

#### heating_type
Fill with 'unknown'

In [15]:
data['heating_type'] = data['heating_type'].fillna('unknown')

#### firing_types
Fill Nans with 'unknown'

In [16]:
data['firing_types'] = data['firing_types'].fillna('unknown')

#### thermal_char
Fill Nans with -1.

In [17]:
data['thermal_char'] = data['thermal_char'].fillna(-1)

#### type_of_flat
Missing flat types are filled with 'unknown'.

In [18]:
data['type_of_flat'] = data['type_of_flat'].fillna('unknown')
data['type_of_flat'] = data['type_of_flat'].str.replace('_', ' ')

#### telekom_tv_offer
Fill with 'unknown'

In [19]:
data['telekom_tv_offer'] = data['telekom_tv_offer'].fillna('unknown')

#### service_charge
The service charge is calculated as total_rent-base_rent. If we don't have a value for total_rent, we set the
service_charge to -1.

In [20]:
def clean_service_charge(row):
    if pd.isnull(row['service_charge']):
        if pd.isnull(row['total_rent']):
            return -1
        else:
            return row['total_rent']-row['base_rent']
    else:
        return row['service_charge']

In [21]:
data['service_charge'] = data.apply(clean_service_charge, axis=1)

#### pricetrend
Fill with 0

In [22]:
data['pricetrend'] = data['pricetrend'].fillna(0)

#### house_number
We only consider numbers here without any additional charakters. All nan values or values not containing a housenumber will be replaced with a blank string. So this column has dtype=object.

In [23]:
def clean_house_number(x):
    if pd.isnull(x):
        return ""
    l = re.findall('\d{1,4}', x)
    return str(int(l[0])) if l else ''

In [24]:
data['house_number'] = data['house_number'].apply(clean_house_number)

#### floor
All empty values and floors higher than 30 all set to unknown.

In [25]:
def clean_floor(x):
    if pd.isnull(x) or x > 30:
        return "unknown"
    else:
        return str(int(x))

In [26]:
data['floor'] = data['floor'].apply(clean_floor)

#### telekom_upload_speed
Doesn't make sense here to replace by median/mean. So let's use -1 instead.

In [27]:
data['telekom_upload_speed'] = data['telekom_upload_speed'].fillna(-1)

#### total_rent
If we have a base_rent and service_charge set we consider empty values in total_rent to be base_rent+service_charge.<br>
Otherwise empty values are filled by -1.

In [28]:
def clean_total_rent(row):
    if pd.isnull(row['total_rent']):
        if row['service_charge'] == -1:
            return -1
        else:
            return row['base_rent']+row['service_charge']
    else:
        return row['total_rent']

In [29]:
data['total_rent'] = data.apply(clean_total_rent, axis=1)

#### street_plain
Set Nans to empty string and replace underscores whitespaces.

In [30]:
def clean_street_plain(x):
    if pd.isnull(x):
        return ''
    return x.replace('_', ' ').strip()

In [31]:
data['street_plain'] = data['street_plain'].apply(clean_street_plain)

#### regio1, regio2, regio3
Replace underscores with whitespaces and trim values.

In [32]:
data['regio1'] = data['regio1'].apply(lambda x: x.replace('_', ' ').strip())
data['regio2'] = data['regio2'].apply(lambda x: x.replace('_', ' ').strip())
data['regio3'] = data['regio3'].apply(lambda x: x.replace('_', ' ').strip())

#### balcony, cellar, has_kitchen, lift, garden, newly_const
These columns are boolean containing True/False. Let's replace the values with 1/0.

In [33]:
data['balcony']     = data['balcony'].replace({'True':1, 'False':0})
data['cellar']      = data['cellar'].replace({'True':1, 'False':0})
data['has_kitchen'] = data['has_kitchen'].replace({'True':1, 'False':0})
data['lift']        = data['lift'].replace({'True':1, 'False':0})
data['garden']      = data['garden'].replace({'True':1, 'False':0})
data['newly_const'] = data['newly_const'].replace({'True':1, 'False':0})

<br>

### Create new columns

#### Create column m2_rent
This new column holds the price per m² (excluding service costs).

In [34]:
def get_m2_rent(row):
    if not row['living_space']:
        return 0
    return round(row['base_rent']/row['living_space'],2)

In [35]:
data['m2_rent'] = data.apply(get_m2_rent, axis=1)

#### Create column address
This new column holds the address of a rental object.<br>
Format: 'Streetname HouseNo, PostalCode City'

In [36]:
def get_address(row):
    kreis   = row['regio2']
    bezirk  = row['regio3']
    street  = row['street_plain']
    houseno = row['house_number']
    plz     = row['geo_plz']
    s = ""
    if street:
        s += street
        if houseno: s += " " + houseno
        s += ", "
    s += str(plz) + " "
    if "Kreis" in kreis:
        s += bezirk
    else:
        s += kreis
    return s

In [37]:
data['address'] = data.apply(get_address, axis=1)

<br>

### Unused columns
<br>

The following columns are not used and will be deleted:
- **telekom_hybrid_upload_speed** (> 80% Nans)
- **electricity_kwh_price** (> 80% Nans)
- **electricity_base_price** (> 80% Nans)
- **description** (too much text)
- **firing_types** (too many missing/unique values, redunant information)
- **facilities** (too much text)


- **number_of_floors** (missing/strange values, not really needed)
- **year_constructed_range** (not needed, missing values)
- **telekom_tv_offer** (not needed)
- **street** (redundant, html encoded)
- **street_plain** (redundant)
- **house_number** (redundant)
- **geo_bln** (redundant)
- **geo_krs** (redundant)
- **geo_plz** (redundant)
- **base_rent_range** (not needed)
- **living_space_range** (not needed)
- **no_rooms_range** (not needed)
- **scout_id** (not needed)

In [38]:
data = data.drop(['telekom_hybrid_upload_speed', 'electricity_kwh_price',
                  'electricity_base_price', 'street', 'number_of_floors',
                  'year_constructed_range', 'facilities', 'description',
                  'telekom_tv_offer', 'geo_bln', 'geo_krs', 'geo_plz',
                  'base_rent_range', 'living_space_range', 'scout_id',
                  'no_rooms_range', 'house_number', 'street_plain'],
                 axis=1)

<br>

### Data is clean now :-)

In [39]:
data.isna().sum().sum()

0

### Reorder and rename columns

In [40]:
data = data[[
    'total_rent', 'base_rent', 'living_space', 'm2_rent',
    'service_charge', 'heating_costs', 'thermal_char', 'pricetrend',
    'balcony', 'cellar', 'has_kitchen', 'lift', 'garden', 'pets_allowed',
    'condition', 'type_of_flat', 'interior_qual', 'energy_efficiency_class',
    'telekom_upload_speed', 'no_park_spaces', 'heating_type', 'firing_types',
    'newly_const', 'no_rooms', 'floor', 'year_constructed', 'last_refurbish',
    'date', 'picturecount', 'regio1', 'regio2', 'regio3', 'address'
]]

In [41]:
d = {
    'total_rent'   : 'total_price',
    'base_rent'    : 'base_price',
    'm2_rent'      : 'm2_price',
    'living_space' : 'm2',
    'thermal_char' : 'thermal_charge',
    'balcony'      : 'has_balcony',
    'cellar'       : 'has_cellar',
    'lift'         : 'has_lift',
    'garden'       : 'has_garden',
}

data = data.rename(columns=d)

<br>

### Store cleaned data

In [42]:
data.to_csv(config['data']['csv_clean'], index=False)